@font-face {
    font-family: "Japanese_2020";
    src: url(JAPANESE_2020.otf);
}


body {
    font-family: "Japanese_2020", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-image: url("8559794.jpg");
    background-attachment: fixed;
    background-size: cover;  /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center;
    color: white;
    text-shadow: 
        3px 3px 0px rgb(226, 73, 73),   /* Borde superior izquierdo */
        -3px -3px 0px rgb(226, 73, 73), /* Borde inferior derecho */
        3px -3px 0px rgb(226, 73, 73),  /* Borde superior derecho */
        -3px 3px 0px rgb(226, 73, 73);  /* Borde inferior izquierdo */
}
  h1, h2 {
    margin: 10px;
  }
  #game-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin: 20px 0;
    max-width: 400px;
    min-width: 300px;
  }

  #kanji-container, #word-container {
    display: flex;
    flex-direction: column;
  }

  .kanji button {
    font-size: 40px;
    padding: 5px;
  }

  .word button {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
  }


  button {
    height: 95px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #8bcafb;
    background-color: #def1fc;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.2s;
  }
  button:hover {
    background-color: #90d6ff;
  }
  #results {
    margin-top: 20px;
  }

  .idiomas {
    display: flex;
    flex-direction: row;
  }

  .idiomas button {
    height: auto;
    padding: 15px;
    font-size: 20px;
    border: 0px solid #294cff;
    background-color: #4a69ff;
    color: white;
    transition: background-color 0.2s;
  }

  .idiomas button:hover {
    background-color: #1b41ff;

  }

  /*escritorio*/
  @media (min-width: 700px){
    #game-container {
      display: grid;
      grid-template-columns: 40% 40%;
      gap: 10px;
      margin: 20px 0;
    }

    .word button {
      font-size: 30px;
    }
  }