@function randomColor() {
  @return rgb(random(255), random(255), random(255));
}

#tablero {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100vmin;
  height: 100vmin;
  gap: 1px;
}

@for $i from 1 through 400 { 
  #tablero > div:nth-child(#{$i}) {
    background-color: randomColor();
  }
}

/*Los colores se cargan cada vez que el sass se compila
